.react-calendar__tile--active {
  background: #9c27b0 !important; /* Your primary color */
  color: white !important;
  border-radius: 3px;
}

.react-calendar__tile--now {
  background: #bd512f !important; /* your preferred color */
  color: white !important;
  border-radius: 3px; /* Optional: make it circular */
}

.workout-day {
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 3px;
}
